/*Star Header Area*/
html {
    scroll-behavior: smooth;
}

header > nav > ul {
    position: absolute;
    right: 24px;
    font-size: 20px;
    top: 0;
    list-style: none;

}

header > nav > ul > li > a:link {

    color: #fed700;
    text-decoration: none;
    animation-delay: 500ms;
}

header > nav > ul > li > a:visited {

    color: #fed700;
    text-decoration: none;
}

header > nav > ul > li {
    display: inline-block;
    cursor: pointer;
    font-family: "Ubuntu Light";
    padding: 10px;
    color: #ffffff;


}

/*End Header Area*/

/* main content */
body {
    font-family: "Ubuntu Light";
}

/*Section One Start*/
#one {
    width: auto;
    height: 450px;
    background-color: #403f3d;

}

.main-details {
    position: absolute;
    left: 10.45%;
    top: 150px;
    height: 360px;
    width: 19%;
    border: 12px solid #eeeeee;
    background-color: white;
    outline: 1px dashed #000000;
    outline-offset: -11px;
}

.wrap-image > img {
    width: 100%;
    height: 100%;

}

.social-media > img {
    width: 30px;
    height: 30px;
    margin: 5px 0px 0px 10px;
    border-radius: 100px;
}

.my-details {
    position: absolute;
    top: 250px;
    right: 5%;
    width: 64%;
    height: 200px;
}

.my-details > h1 {
    font-size: 3.75rem;
    margin: 10px 0px 10px 20px;
    color: #fed700;
}

.my-details > h2 {
    font-size: 1.35rem;
    margin: 0px 0px 0px 23px;
    color: #eaeaea;
    font-family: Nanum Gothic;
    font-weight: lighter;
}

.my-details > h3 {
    font-size: 1.3rem;
    margin: 10px 0px 0px 23px;
    color: #eaeaea;
    font-family: "Cookie";
    font-weight: lighter;
}

.my-details > h4 {
    font-size: 1rem;
    margin: 10px 0px 0px 23px;
    color: #ffffff;
    font-family: "Nanum Gothic";
    font-weight: lighter;
}

.social-media {
    position: absolute;
    top: 200px;
    right: 0;
    width: 5%;
    height: 250px;
}

/*Section Two Start*/
#two {
    width: auto;
    height: 100px;
    background-color: #ffffff;

}

#two > div {

}

#two > div:nth-child(1) {
    width: 31%;
    height: 80px;
    float: left;

}

#two > div > img {
    width: 50px;
    height: 50px;
    margin: 15px;
    border-radius: 100px;
    float: left;
}

#two > div > div {
    position: relative;
    top: 13px;
    bottom: 13px;
    font-size: 18px;
}

#two > div > div > a {
    color: #403F3D;
    position: relative;
    top: 15px;
    bottom: 15px;
    font-size: 18px;
    text-decoration: none;
}

#two > div:nth-child(2) {
    width: 23%;
    height: 80px;
    float: left;
    border-top: none;
    border-right: solid black;
    border-bottom: solid black;
    border-width: 0.01em;
    cursor: pointer;
    transition-duration: 700ms;
}

#two > div:nth-child(2):hover {
    width: 23%;
    height: 80px;
    float: left;
    background-color: #fed700;
    cursor: pointer;
    transition-duration: 900ms;
}


#two > div:nth-child(3) {
    width: 23%;
    height: 80px;
    float: left;
    border-top: none;
    border-right: solid black;
    border-bottom: solid black;
    border-width: 0.01em;
    cursor: pointer;
}

#two > div:nth-child(3):hover {
    width: 23%;
    height: 80px;
    float: left;
    background-color: #fed700;
    cursor: pointer;
    transition-duration: 900ms;
}

#two > div:nth-child(4) {
    width: 22.8%;
    height: 80px;
    float: left;
    border-top: none;
    border-right: solid black;
    border-bottom: solid black;
    border-width: 0.01em;
    cursor: pointer;
}

#two > div:nth-child(4):hover {
    width: 22.8%;
    height: 80px;
    float: left;
    background-color: #fed700;
    cursor: pointer;
    transition-duration: 900ms;
}

/*Section Three Start*/
#three {
    width: auto;
    height: 280px;
    background-color: #ffffff;

}

main > section:nth-child(3) > div {
    width: 50%;
    height: 280px;
    float: left;
    display: inline-block;
}

.right-side-square {
    width: 500px;
    height: 140px;
    margin: 0px 0px 0px 100px;
    border: solid;
    border-color: black;
    background-color: #cccccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right-side-square > p {
    margin: 20px 20px 20px 20px;
}

.left-side-content > a:link {
    color: black;
}

/*Section Four Start*/
#four {
    width: auto;
    height: 400px;
    background-color: #fed700;

}

#four > div {
    width: 50%;
    height: 400px;
    float: left;
}

.four_section_title {
}

.four_section_title > h2 {
    margin: 0px 0px 40px 100px;
    padding-top: 20px;
}

.left-side-content {
    margin-left: 140px;
}

.left-side-content > p {
    margin-bottom: 20px;
}

.project-image > img {
    margin: 50px 50px 50px 100px;
}

.project-image > img {
    width: 500px;
    height: 300px;
    border-radius: 20px;
}

/* <<------------------Section Five Start------------------------>>> */
#five {
    width: auto;
    height: 600px;
    background-color: #ffffff;

}

.five_section_title {
}

.five_section_title > h2 {
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding-top: 20px;
}

.five_section_title > p {
    text-align: center;
    margin-bottom: 30px;
}

.skill-section {
    width: auto;
    height: 100px;
    margin-bottom: 10px;
}

.skill-section-1 {
    width: 50%;
    height: 100px;
    float: left;
    display: flex;
}

.skill-content-left {
    width: 86%;
    display: inline-block;
}

.skill-icon-left {
    width: 14%;
    display: inline-block;
}

.skill-icon-left > img {
    width: 50px;
    height: 50px;
    margin: 25px;
    border-radius: 100%;
}

.skill-content-left > h4 {
    margin: 7px 0px 0px 0px;
    text-align: right;
}

.skill-content-left > p {
    margin: 5px 0px 0px 0px;
    text-align: right;
    display: block;
    font-size: 13px;
}

.progress-left {
    width: 60px;
    height: 6px;
    background-color: #fed700;
    border-radius: 30px;
    float: right;
    margin: 10px 0px 0px 0px;
}

/*--------------right side------*/

.skill-content-right {
    width: 86%;
    display: inline-block;
}

.skill-icon-right {
    width: 14%;
    display: inline-block;
}

.skill-icon-right > img {
    width: 50px;
    height: 50px;
    margin: 25px;
    border-radius: 100%;
}

.skill-content-right > h4 {
    margin: 7px 0px 0px 0px;
    text-align: left;
}

.skill-content-right > p {
    margin: 5px 0px 0px 0px;
    text-align: left;
    display: block;
    font-size: 13px;
}

.progress-right {
    width: 80px;
    height: 6px;
    background-color: #fed700;
    border-radius: 30px;
    float: left;
    margin: 10px 0px 0px 0px;
}

.skill-btn {
    margin-top: 30px;
}

/* <<------------------Section Six Start------------------------>>> */
#six {
    width: auto;
    height: 350px;
    background-color: #ffedb8;

}

#six > div {
    width: 50%;
    height: 350px;
    display: inline-block;
    float: left;
}

.six_section_title > h2 {
    margin: 0px 0px 0px 100px;
    padding-top: 20px;
}

#toggle1 {
    width: 350px;
    height: 50px;
    border: solid;
    margin: 30px 30px 0px 200px;
    background-color: white;

}

#toggle1 > h3 {
    margin: 14px 0px 14px 10px;
    vertical-align: middle;
    position: absolute;
    font-size: 20px;
}

#toggle2 {
    width: 350px;
    height: 50px;

    border: solid;
    margin: 5px 0px 0px 200px;
    background-color: white;
}

#toggle2 > h3 {
    margin: 14px 0px 14px 10px;
    vertical-align: middle;
    position: absolute;
    font-size: 20px;
}

#toggle3 {
    width: 350px;
    height: 50px;
    border: solid;
    margin: 5px 0px 0px 200px;
    background-color: white;
}

#toggle3 > h3 {
    margin: 14px 0px 14px 10px;
    vertical-align: middle;
    position: absolute;
    font-size: 20px;
}

#toggle4 {
    width: 350px;
    height: 50px;
    border: solid;
    margin: 5px 0px 0px 200px;
    background-color: white;
}

#toggle4 > h3 {
    margin: 14px 0px 14px 10px;
    vertical-align: middle;
    position: absolute;
    font-size: 20px;
}

.quotes-square {
    width: 500px;
    height: 300px;
    background-color: white;
    margin: 0px 0px 0px 100px;
    border: solid;
    border-radius: 30px;
    position: relative;
    bottom: 50px;
}

.quotes-square > img {
    width: 500px;
    height: 300px;
    border-radius: 30px;
}

/*Section Seven Start*/
#seven {
    width: auto;
    height: 300px;
    background-color: #fed700;

}

.seven-title > h2 {

    margin: 0px 0px 0px 100px;
    padding-top: 20px;
}

#top-comma > img {
    width: 24px;
    height: 24px;
    margin: 30px 0px 0px 180px;
}

.recommendation {
    margin: 0px 200px 0px 200px;
    width: 70%;
    height: 100px;
    overflow: hidden;
}

.text-animation {
    width: 90%;
    height: 60px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-size: cover;
    line-height: 20px;

}

.recommendation > div {
    animation: slider 12s ease infinite;

}
@keyframes slider {
    0% {
        transform: translateY(0%);
    }
    25%{
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(-200%);
    }
    75% {
        transform: translateY(-300%);
    }
    100% {
        transform: translateY(0%);
    }
}

.text-animation > p {
    margin: 0;
}

#bottom-comma > img {

    width: 24px;
    margin-left: 1300px;
}

/*Section Eight Start*/
#eight {
    width: auto;
    height: 450px;
    background-color: #ffffff;

}

.eight_title {
}

.eight_title > h2 {
    margin: 0px 0px 0px 100px;
    padding-top: 20px;

}

.blog-article {
    width: auto;
    height: 300px;
    margin: 30px 100px 0px 100px;
}
.blog-img-01:hover{

    width: 300px;
    height: 200px;
    background-color: black;
    opacity: 0.5%;
}

.blog-01 {
}


.blog-img-01 {
    width: 300px;
    height: 200px;
    background-color: white;
    margin: auto;
}

.blog-Title-01 {
    margin: 10px 70px 0px 70px;
}

.blog-description-01 {
    margin: 0px 70px 0px 70px;
    font-size: 13px;
}

.blog-description-01 > p {
    margin: 0;
}

.blog-02 {
}

.blog-img-02 {

    width: 300px;
    height: 200px;
    background-color: white;
    margin: auto;
}

.blog-Title-02 {
    margin: 10px 70px 0px 70px;
}

.blog-description-02 {
    margin: 0px 70px 0px 70px;
    font-size: 13px;
}

.blog-description-02 > p {
    margin: 0;
}

.blog-03 {
}

.blog-img-03 {

    width: 300px;
    height: 200px;
    background-color: white;
    margin: auto;
}

.blog-Title-03 {
    margin: 10px 70px 0px 70px;
}

.blog-description-03 {
    margin: 0px 70px 0px 70px;
    font-size: 13px;
}

.blog-description-03 > p {
    margin: 0;
}

.blog-article > div {
    width: 33.33%;
    height: 300px;
    display: inline-block;
    float: left;
}

.www {
    margin: auto;
}

button[type=button] {
    display: block;
    margin: auto;
    padding: 6px;
    background-color: black;
    color: white;
    text-align: center;
    width: 120px;
    border-radius: 50px;
    transition-duration: 700ms;
}

button:hover {
    background-color: #fed700;
    color: black;
    transition-duration: 700ms;
}

/*Section Nine Start*/
#nine {
    width: auto;
    height: 80px;
    background-color: #fed700;

}

.newsLetter {
    display: inline-block;
}

.newsLetter > h4 {
    margin: 15px 0px 0px 70px;
    font-family: "Ubuntu Light";
}

.newsLetter > p {
    margin: 2px 0px 0px 70px;
    width: 450px;
    font-size: 13px;
}

.subscription_box {
    float: right;
    margin: 20px 50px 0px 100px;

}

.email {
    display: inline-block;
}

.submitBtn {
    display: inline-block;
}

input[type=text] {
    width: 400px;
    padding: 6px 6px 6px 40px;
    border: 1px solid #ccc;
    border-radius: 50px 0px 0px 50px;
    margin-right: -5px;
}

input[type=submit] {
    width: 120px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 0px 50px 50px 0px;
    background-color: black;
    color: #e9e9e9;
    font-family: "Ubuntu Medium";
}


footer {
    width: auto;
    height: 300px;
    background-color: #403F3D;
}

.links_area {
    width: auto;
    height: 230px;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    color: white;
}

.column-1 {
    width: 25%;
    height: 240px;
}

.column-1 > h4 {
}

.column-1 > p {
    font-size: 13px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.column-2 {
    width: 25%;
    height: 240px;
}

.column-2 > h4 {
}

.column-2 > p {
    font-size: 13px;
    margin-bottom: 4px;
    margin-top: 6px;
}

.column-3 {
    width: 25%;
    height: 240px;
}

.column-3 > a {
    display: block;
    font-size: 13px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.column-4 {
    width: 25%;
    height: 240px;
}

.column-4 > h4 {
}

.column-4 > a {
    width: 25px;
    height: 25px;
    display: inline-block;
}

.column-4 > a > img {
    border-radius: 5px;
}

.footer_menu {
    width: 562px;
    margin: auto;
}

.footer_menu > div {
    color: white;

}

div > a:link {
    color: white;
    text-decoration: none;
    margin-right: 8px;
    font-size: 13px;

}

.developer {
    width: 255px;
    margin: auto;
}

.developer > p {
    color: white;
    font-size: 11px;
    margin: 4px 0px 0px 0px;

}

footer > h1 {
    margin: 0;
    color: #eeeeee;
}
