/* background: radial-gradient(ellipse at center,
    rgba(255,113,12,0) 65%, rgb(213, 16, 16) 51.5%);*/


.First_frame{
    height: 100vh;
    position: relative;
    /*z-index: 2;*/
}
/*------------------Brown Circle-------------*/
.First_frame .brown_circle {
    position: fixed;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: radial-gradient(ellipse at center,
    rgba(255,113,12,0) 65%, rgb(193, 135, 104) 51.5%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    /*color: #ffffff;*/
}

/*------------------Red Circle-------------*/
.First_frame .brown_circle .red_circle {
    position: fixed;
    height: 280px;
    width: 280px;
    border-radius: 50%;
    background: radial-gradient(ellipse at center,
    rgba(255,113,12,0) 65%, rgb(203, 27, 27) 51.5%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    /*color: #a31212;*/
}

/*------------------Circle 1-------------*/
.circle1 {
    position: absolute;
    background: #735882;
    height: 258px;
    width: 258px;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.circle1 p {
    position: absolute;
    font-size: 50px;
    color: white;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

/*------------------Circle 2-------------*/
.circle2 .circle{
    position: absolute;
    background: #3391e7;
    height: 258px;
    width: 258px;
    border-radius: 100%;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
}
.circle2 p {
    position: absolute;
    text-align: center;
    font-size: 35px;
    color: white;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
.circle2 {
    position: relative;
    height: 100vh;

}
/*------------------Circle 3-------------*/
.circle3 .circle{
    position: absolute;
    background: #ee7d27;
    height: 258px;
    width: 258px;
    border-radius: 100%;
    left: 50%;
    top: 51%;
    transform: translate(-50%, -50%);
}
.circle3 p {
    position: absolute;
    text-align: center;
    font-size: 35px;
    color: white;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
.circle3 {
    position: relative;
    height: 100vh;
}
